//backgrounds

.bg-grey{
	background-color: map-get($map:$paleta, $key: 'uno');
}

.bg-darkgrey{
    background-color: map-get($map:$paleta, $key: 'dos');
}

.bg-black{
	background-color: map-get($map:$paleta, $key: 'tres');
}

.text-white{
	color: rgb(80, 80, 80);
}

.text-right{
	text-align: right;
}


//sizes img

#botonera{
	img{
		width: 35px;
	}
}


#servicios {
    img{
        width: 60px;
    }
}

#contacto {
    img{
	    width: 30px;
    }
}

#equipo {
    img{
	    width: 40px;
    }
}

#view-eqipo {
	img{
	    width: 200px;
	}
}

#footer {
	img{
	width: 30px;
    }
}

.fixed-nav{
	position: fixed;
}

